/* voir http://css3please.com/ pour une liste complète */
/**** COLORS ****/
/***************/
/**** FONT FAMILY *****/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nogutter,
.nogutter [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
