/* voir http://css3please.com/ pour une liste complète */

/**** COLORS ****/
@c_default : #404040;
@c_accent : #009b7b;
@c_light : #eee;

@c_patrimoinebati : #0dbce8;
@c_patrimoinenaturel : #b3d132;
@c_patrimoineimmateriel : #ffcc00;
@c_artsetartistes : #e65b5b;
@c_paysages : #a94fc0;

/***************/

/**** FONT FAMILY *****/

@font-family-cond : 'Roboto Condensed', Arial, sans-serif;
@font-family : 'Roboto', Arial, sans-serif;
@font-family-big: 'Sansita One', cursive;

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.transition(@property : all, @length : 180ms, @ease : ease-out) {
	-webkit-transition: @property @length @ease;
	-moz-transition: @property @length @ease;
	-o-transition: @property @length @ease;
	transition: @property @length @ease;
}

.opacity(@opacity: 0.5) {
	@opperc: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";

	-webkit-opacity: @opacity;
	-khtml-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}


.transformRotate(@deg){
	-webkit-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

.bgCover{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nogutter,
.nogutter [class*="col"]
{
	padding-left:0;
	padding-right:0;
}

.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box_scale( @scale ) {
	-webkit-transform: @scale;  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: @scale;  /* IE 9 */
	transform: @scale;  /* Firefox 16+, IE 10+, Opera */
}