/* voir http://css3please.com/ pour une liste complète */
/**** COLORS ****/
/***************/
/**** FONT FAMILY *****/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nogutter,
.nogutter [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 1440px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .credits {
    display: none;
  }
  body {
    padding-top: 103px;
  }
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  header.sticky {
    padding: 15px 0;
  }
  header.sticky .container-mobile-button {
    text-align: right;
  }
  header.sticky .container-mobile-button .mobile-button {
    margin-top: 15px;
    display: inline-block;
    font-size: 30px;
    color: #404040;
  }
  /* MENU MOBILE */
  body {
    margin: 0;
  }
  .search_box_mobile input {
    padding: 5px;
  }
  .search_box_mobile button {
    border: none;
    background-color: #009b7b;
    padding: 7px;
  }
  .search_box_mobile button i {
    color: #FFF;
  }
  .pushmenu {
    /*this is the nav*/
    background: #404040;
    font-family: Arial, Helvetics, sans-serif;
    width: 80%;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    overflow: auto;
  }
  .pushmenu h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 15px;
    margin: 0;
  }
  .pushmenu ul li {
    position: relative;
    padding: 0;
  }
  .pushmenu ul li.open a {
    background-color: #272727;
  }
  .pushmenu ul li.search_box_mobile {
    padding: 15px;
    text-align: center;
    background-color: #272727;
  }
  .pushmenu ul li.search_box_mobile input {
    width: 80%;
    display: inline-block;
  }
  .pushmenu ul li.search_box_mobile button {
    display: inline-block;
  }
  .pushmenu ul li:before {
    display: none;
  }
  .pushmenu ul li a {
    display: block;
    /* drops the nav vertically*/
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #272727;
    padding: 14px;
  }
  .pushmenu ul li a:hover {
    background: #272727;
  }
  .pushmenu ul li a:active,
  .pushmenu ul li a:focus,
  .pushmenu ul li a:visited {
    background: #272727;
    color: #fff;
  }
  .pushmenu ul li .after {
    display: none;
  }
  .pushmenu ul li.current_page_item a,
  .pushmenu ul li.current_page_parent a,
  .pushmenu ul li.current_page_ancestor a {
    background-color: #0d0d0d;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li a,
  .pushmenu ul li.current_page_parent ul.sub-menu li a,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li a {
    background-color: #272727;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li a:hover,
  .pushmenu ul li.current_page_parent ul.sub-menu li a:hover,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li a:hover {
    background-color: #0d0d0d;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li.current_page_item a,
  .pushmenu ul li.current_page_parent ul.sub-menu li.current_page_item a,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li.current_page_item a,
  .pushmenu ul li.current_page_item ul.sub-menu li.current_page_parent a,
  .pushmenu ul li.current_page_parent ul.sub-menu li.current_page_parent a,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li.current_page_parent a {
    background-color: #0d0d0d;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li ul.sub-menu li a,
  .pushmenu ul li.current_page_parent ul.sub-menu li ul.sub-menu li a,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li ul.sub-menu li a {
    background-color: #0d0d0d;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li ul.sub-menu li a:hover,
  .pushmenu ul li.current_page_parent ul.sub-menu li ul.sub-menu li a:hover,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li ul.sub-menu li a:hover {
    background-color: #000000;
  }
  .pushmenu ul li.current_page_item ul.sub-menu li ul.sub-menu li.current_page_item a,
  .pushmenu ul li.current_page_parent ul.sub-menu li ul.sub-menu li.current_page_item a,
  .pushmenu ul li.current_page_ancestor ul.sub-menu li ul.sub-menu li.current_page_item a {
    background-color: #000000;
  }
  .pushmenu ul li.menu-item-has-children .after {
    display: block;
    content: "\f107";
    font-family: "FontAwesome";
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
  }
  .pushmenu ul li.menu-item-has-children ul {
    display: none;
  }
  .pushmenu ul li.menu-item-has-children ul li {
    padding: 0;
  }
  .pushmenu ul li.menu-item-has-children ul li .after {
    display: none;
  }
  .pushmenu ul li.menu-item-has-children ul li a {
    border: 0;
    padding: 10px 15px;
  }
  .pushmenu ul li.menu-item-has-children ul li.open a {
    background-color: #0d0d0d;
  }
  .pushmenu ul li.menu-item-has-children ul li.menu-item-has-children .after {
    display: block;
    font-size: 20px;
  }
  .pushmenu ul li.menu-item-has-children ul li.menu-item-has-children ul li a {
    font-weight: normal;
    font-size: 14px;
  }
  .pushmenu ul li.menu-item-has-children ul li.menu-item-has-children ul li .after {
    display: none;
  }
  .pushmenu-left {
    right: -80%;
  }
  .pushmenu-left.pushmenu-open {
    right: 0;
  }
  .pushmenu-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
  }
  .pushmenu-push-toright {
    right: 80%;
    overflow: hidden;
    position: relative;
  }
  /*Transition*/
  .pushmenu,
  .pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #nav_list {
    cursor: pointer;
  }
  #nav-list.active {
    background-position: -33px top;
  }
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  .header-page {
    height: 250px;
  }
  .header-page .container {
    height: 250px;
  }
  /************************************************/
  /********************* MAP ********************/
  /************************************************/
  body #map {
    height: 400px;
  }
  /************************************************/
  /********************** HOME ********************/
  /************************************************/
  .container-carrousel .slide {
    min-height: 400px;
  }
  .container-carrousel .slide .container {
    min-height: 400px;
  }
  .container-carrousel .slide .carrousel-content {
    width: 100%;
    font-size: 16px;
  }
  .container-carrousel .slide .carrousel-content h2 {
    font-size: 40px;
  }
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  .list-type ul li {
    display: block;
    width: 100%;
  }
  .list-type ul li a {
    border-top: 5px solid #FFF;
  }
  .header-page {
    height: 200px;
  }
  .header-page .container {
    height: 200px;
  }
  #content {
    padding: 30px 0;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  .square-display {
    min-height: 300px;
  }
  .list-type {
    padding-top: 20px;
  }
  /* attraits connexes */
  #attraits_connexes .header-connexe h2 {
    padding: 0;
    font-size: 30px;
  }
  /************************************************/
  /******************* HOME ********************/
  /************************************************/
  .container-carrousel .slide {
    min-height: 300px;
  }
  .container-carrousel .slide .container {
    min-height: 300px;
  }
  .container-carrousel .slide .carrousel-content {
    width: 100%;
    font-size: 14px;
  }
  .container-carrousel .slide .carrousel-content h2 {
    font-size: 28px;
  }
  /************************************************/
  /********************* MAP ********************/
  /************************************************/
  body #map {
    height: 400px;
  }
  .page-template-tpl_map #content {
    padding-bottom: 0;
  }
  .title-lines h1,
  .title-lines h2 {
    padding: 0 30px;
  }
  .title-lines h1 span,
  .title-lines h2 span {
    font-size: 35px;
    padding: 0 20px;
  }
  /************************************************/
  /*********************  ********************/
  /************************************************/
  .galerie .grid-item {
    width: 100%;
    padding: 0 10px;
  }
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
  .footer-columns .nav-footer {
    margin-top: 20px;
  }
  .footer-columns .logo {
    margin-top: 20px;
    text-align: center;
  }
  #copyrights_container {
    text-align: center;
  }
  #copyrights_container #credit_mxo {
    text-align: center;
  }
}
@media only screen and (max-width: 625px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
/* IPHONE 5 rez */
@media only screen and (max-width: 568px) {
  input[type="text"]:focus,
  textarea:focus,
  select:focus {
    font-size: 16px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    padding-top: 88px;
  }
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
@media only screen and (max-width: 390px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /********************* FORMS ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  /************************************************/
  /********************* HOME *********************/
  /************************************************/
  /***********************************************/
  /******************* GENERAL *******************/
  /***********************************************/
  /************************************************/
  /******************* CONTACT ********************/
  /************************************************/
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
}
