@import "mixins.less";

@media only screen and (max-width : 1440px) {
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	
	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	
	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.credits{
		display: none;
	}

	body{
		padding-top:103px;
	}
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	header.sticky{
		padding:15px 0;
		
		.container-mobile-button{
			text-align: right;
			.mobile-button{
				margin-top:15px;
				display: inline-block;
				font-size: 30px;
				color:@c_default;
			}
		}

	}

	/* MENU MOBILE */

	body {
	  margin: 0;
	}

	.search_box_mobile{
		input{
			padding:5px;
		}
		button{
			border:none;
			background-color: @c_accent;
			padding:7px;
			i{
				color:#FFF;
			}
		}
	}

	.pushmenu { /*this is the nav*/
	  background: @c_default;
	  font-family: Arial, Helvetics, sans-serif;
	  width: 80%;
	  height: 100%;
	  top: 0;
	  z-index: 1000;
	  position:fixed;
	  overflow: auto;
	  	h3 {
		  color: #FFF;
		  font-size: 20px;
		  font-weight: bold;
		  padding: 20px 15px;
		  margin: 0;
		}

		ul{
			li{
				position: relative;
				padding:0;
				&.open{
					a{
						background-color: darken(@c_default, 10%);
					}
				}
				
				&.search_box_mobile{
					padding:15px;
					text-align: center;
					background-color:darken(@c_default, 10%);
					input{
						width: 80%;
						display: inline-block;
					}
					button{
						display: inline-block;
					}

				}

				&:before{
					display: none;
				}
				a {
				  display: block; /* drops the nav vertically*/
				  color: #fff;
				  font-size: 16px;
				  font-weight: bold;
				  text-decoration: none;
				  border-bottom: 1px solid darken(@c_default, 10%);
				  padding: 14px;

				  	&:hover {
					  background:darken(@c_default, 10%);
					}

					&:active, &:focus, &:visited {
					  background: darken(@c_default, 10%);
					  color: #fff;
					}
				}

				.after{
					display: none;
				}				

				&.current_page_item, &.current_page_parent, &.current_page_ancestor{
					a{
						background-color: darken(@c_default, 20%);
					}
					ul.sub-menu{
						li{
							a{
								background-color: darken(@c_default, 10%);
								&:hover{
									background-color: darken(@c_default, 20%);
								}
							}
					
							&.current_page_item, &.current_page_parent{
								a{
									background-color: darken(@c_default, 20%);
								}
							}

							ul.sub-menu{
								li{
									a{
										background-color: darken(@c_default, 20%);
										&:hover{
											background-color: darken(@c_default, 30%);
										}
									}
							
									&.current_page_item{
										a{
											background-color: darken(@c_default, 30%);
										}
									}
								}
							}
					
						}
					}
				}

				&.menu-item-has-children{
					.after{
						display: block;
						content: "\f107";
						font-family: "FontAwesome";
						padding:10px 20px;
						position: absolute;
						right: 0;
						top:0;
						font-size: 25px;
						color:#FFF;
						cursor: pointer;
					}

					ul{
						display: none;
						li{
							padding:0;
							.after{
								display: none;
							}
							
							a{
								border:0;
								padding:10px 15px;
							}

							&.open{
								a{
									background-color: darken(@c_default, 20%);
								}
							}

							&.menu-item-has-children{
								.after{
									display: block;
									font-size: 20px;
								}
								ul{
									li{
										a{
											font-weight: normal;
											font-size: 14px;
										}
										.after{
											display: none;
										}
									}
								}
							}
						}
					}
				}

			}
		}
	}

	.pushmenu-left {
	  right: -80%;
	}

	.pushmenu-left.pushmenu-open {
	  right: 0;
	}

	.pushmenu-push {
	  overflow-x: hidden;
	  position: relative;
	  right: 0;
	}

	.pushmenu-push-toright {
	  right: 80%;
	  overflow: hidden;
	  position: relative
	}

	/*Transition*/
	.pushmenu, .pushmenu-push {
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  transition: all 0.3s ease;  
	}

	#nav_list {
	  cursor: pointer;
	}

	#nav-list.active {
	  background-position: -33px top;
	}
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	.header-page{
		height: 250px;
		.container{
			height: 250px;
		}
	}

	/************************************************/
	/********************* MAP ********************/
	/************************************************/
	body #map{
		height: 400px;
	}
	/************************************************/
	/********************** HOME ********************/
	/************************************************/

	.container-carrousel{
		
		.slide{
			min-height:400px;
			.container{
				min-height: 400px;
				
			}
			.carrousel-content{
				width: 100%;
				font-size: 16px;
				h2{
					font-size: 40px;
				}

			}
		}
	}


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	.list-type{
		ul{
			li{
				display: block;
				width: 100%;
				a{
					border-top:5px solid #FFF;
				}
			}
		}
	}

	.header-page{
		height: 200px;
		.container{
			height: 200px;
		}
	}

	#content{
		padding:30px 0;
	}

	h1{
		font-size: 34px;
	}
	h2{
		font-size: 26px;
	}
	
	.square-display{
		min-height: 300px;
	}

	.list-type{
		padding-top:20px;
	}


	/* attraits connexes */

	#attraits_connexes{
		.header-connexe{
			h2{
				padding:0;
				font-size: 30px;
			}
		}
	}
	
	/************************************************/
	/******************* HOME ********************/
	/************************************************/

	.container-carrousel{
		
		.slide{
			min-height:300px;
			.container{
				min-height: 300px;
				
			}
			.carrousel-content{
				width: 100%;
				font-size: 14px;
				h2{
					font-size: 28px;
				}

			}
		}
	}

	/************************************************/
	/********************* MAP ********************/
	/************************************************/
	body #map{
		height: 400px;
	}
	.page-template-tpl_map{
		#content{
			padding-bottom: 0;
		}
	}

	.title-lines{
			h1, h2{
				padding:0 30px;
				span{
					font-size: 35px;
					padding:0 20px;
				}
			}
		}
	

	/************************************************/
	/*********************  ********************/
	/************************************************/
	

	.galerie{
		.grid-item{
			width: 100%;
			padding:0 10px;
		}
	}
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/

	.footer-columns{
		.nav-footer{
			margin-top: 20px;
		}
		.logo{
			margin-top: 20px;
			text-align: center;
		}
	}

	#copyrights_container{
		text-align: center;
		#credit_mxo{
			text-align: center;
		}
	}
}

@media only screen and (max-width : 625px){
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	
	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
}

/* IPHONE 5 rez */
@media only screen and (max-width : 568px){
	// iOS WebKit browsers and auto-zooming form controls
	input[type="text"]:focus,
	textarea:focus,
	select:focus {
	   font-size:16px;
	}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	body{
		padding-top:88px;
	}
   /************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	
	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
	
}

@media only screen and (max-width : 390px) {
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/
	
	
	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/

	
	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/********************* FORMS ********************/
	/************************************************/
	
	
	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	/************************************************/
	/******************** HEADER ********************/
	/************************************************/


	/************************************************/
	/********************* HOME *********************/
	/************************************************/


	/***********************************************/
	/******************* GENERAL *******************/
	/***********************************************/


	/************************************************/
	/******************* CONTACT ********************/
	/************************************************/


	/************************************************/
	/******************** FOOTER ********************/
	/************************************************/
}