/***********************************************/
/************  LIBS N' DEPENDENCIES ************/
/***********************************************/
//@import "../bower_components/bootstrap/less/bootstrap.less";
//@import "../bower_components/font-awesome/less/font-awesome.less";
//@import "../bower_components/jquery-colorbox/example1/colorbox.css";
//@import "../../../plugins/sitepress-multilingual-cms/res/css/language-selector.css";
//@import "../../../plugins/wp-google-maps/css/wpgmza_style.css";
@import "mixins.less";


/***********************************************/
/***********  FIX - RESET & BOILERS  ***********/
/***********************************************/
:-moz-any-link:focus { outline: none; }

.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

img {
	-ms-interpolation-mode: bicubic;
	max-width:100%;height:auto;
	border: 0;
}

body{
	/* fix pour font trop bold sur mac (requis firefox25 pour le moz-osx-font-smoothing) */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top:112px;
	font-family: @font-family;
	color:@c_default;
	font-size: 14px;
}

/* bootstrap + ie7, les images sont petites */
/*.ie7 #content img{ max-width: none !important; } */

/*************************************************/
/******************** GENERAL ********************/
/*************************************************/
html,
body{
	font-family: @font-family;
	position:relative;display:block;
	width:100%;height:100%;
	min-height:100%;
}

h1, h2, h3{
	font-family: @font-family-big;
}
h1{
	font-size: 46px;
}

h3{
	font-size: 26px;
}

.learn_more{
	font-family: @font-family-big;
	font-size: 20px;
	color:@c_default;

	&:after{
		content: ">";
		margin-left:5px;
	}
	&:hover{
		color:@c_accent;
	}
}

.btn, input[type="submit"], input[type="button"]{
	display: inline-block;
	border:1px solid @c_default;
	background-color:#FFF;
	font-size: 30px;
	font-family: @font-family-big;
	padding:15px;
	border-radius: 0;
	color:@c_default;
	text-align: center;

	&:hover{
		background-color: @c_default;
		color:#FFF;
	}
}

.gform_fields input[type="button"]{
	font-size: 16px;
}


li.gfield.gfield_error,
li.gfield.gfield_error.gfield_contains_require{
	background-color: fade(#e65b5b, 30%)!important;
}

.tbl{display:table}
.tbl-rw{display:table-row;}
.tbl-cl{display:table-cell;}

section{position:relative;display:block;}


body a:hover,
body a:focus,
body a:active{
	text-decoration:none;
	color:@c_accent;
	.transition();
	color:inherit;
}
select{
	padding:5px!important;
	border:1px solid @c_default;
	background:none;
}
input, textarea{
	border:1px solid @c_default;
}

.center{
	text-align:center;vertical-align:middle;
	margin:auto;
}

.container-full{
	width:100%;max-width:2560px;
	margin:auto;

	.row{margin-left:0;margin-right:0;}
}

img.full-width{
	width: 100%;
}

.print_only{display:none !important;}

#content{
	padding:60px 0 0 0;
}

.pagination{
	width: 100%;
	ul{
		margin:0 auto;
		padding:0;
		font-family: @font-family-big;
		font-weight: bold;
		text-align: center;
		font-size: 16px;
		li{
			list-style: none;
			display: inline-block;
			a, span{
				padding:5px 10px;
				display: block;
				color:@c_default;

				&.current{
					padding:5px 10px;
					background-color: @c_accent;
					color:#FFF;
				}
			}
		}
	}
}



/********************** ATTRAITS COLORS **************************/


#content{
	&.patrimoine-bati{
		.header-block{
			background-color:@c_patrimoinebati;
		}
		.taxo-name{
			color:@c_patrimoinebati;
		}
	}
	&.patrimoine-immateriel{
		.header-block{
			background-color:@c_patrimoineimmateriel;
		}
		.taxo-name{
			color:@c_patrimoineimmateriel;
		}
	}
	&.patrimoine-naturel{
		.header-block{
			background-color:@c_patrimoinenaturel;
		}
		.taxo-name{
			color:@c_patrimoinenaturel;
		}
	}
	&.arts-et-artistes{
		.header-block{
			background-color:@c_artsetartistes;
		}
		.taxo-name{
			color:@c_artsetartistes;
		}
	}
	&.paysages{
		.header-block{
			background-color:@c_paysages;
		}
		.taxo-name{
			color:@c_paysages;
		}
	}

}

.square-display{
	&.patrimoine-bati{
		.learn_more:hover, .learn_more:active, .learn_more:focus{
			color:@c_patrimoinebati;
		}
		.btn-map{
			background-color: @c_patrimoinebati;
			&:hover{
				background-color: darken(@c_patrimoinebati, 10%)
			}
		}
	}
	&.patrimoine-immateriel{
		.learn_more:hover, .learn_more:active, .learn_more:focus{
			color:@c_patrimoineimmateriel;
		}
		.btn-map{
			background-color: @c_patrimoineimmateriel;
			&:hover{
				background-color: darken(@c_patrimoineimmateriel, 10%)
			}
		}
	}
	&.patrimoine-naturel{
		.learn_more:hover, .learn_more:active, .learn_more:focus{
			color:@c_patrimoinenaturel;
		}
		.btn-map{
			background-color: @c_patrimoinenaturel;
			&:hover{
				background-color: darken(@c_patrimoinenaturel, 10%)
			}
		}
	}
	&.arts-et-artistes{
		.learn_more:hover, .learn_more:active, .learn_more:focus{
			color:@c_artsetartistes;
		}
		.btn-map{
			background-color: @c_artsetartistes;
			&:hover{
				background-color: darken(@c_artsetartistes, 10%)
			}
		}
	}
	&.paysages{
		.learn_more:hover, .learn_more:active, .learn_more:focus{
			color:@c_paysages;
		}
		.btn-map{
			background-color: @c_paysages;
			&:hover{
				background-color: darken(@c_paysages, 10%)
			}
		}
	}
}

.list-type{
	.active{
		color:@c_default;
		border-color:@c_default;	
	}
	.patrimoine-bati{
		&:hover, &.active{
			color:@c_patrimoinebati;
			border-color: @c_patrimoinebati;
		}
		
	}
	.patrimoine-immateriel{
		&:hover, &.active{
			color:@c_patrimoineimmateriel;
			border-color:@c_patrimoineimmateriel;
		}
	}
	.patrimoine-naturel{
		&:hover, &.active{
			color:@c_patrimoinenaturel;
			border-color:@c_patrimoinenaturel;
		}
	}
	.arts-et-artistes{
		&:hover, &.active{
			color:@c_artsetartistes;
			border-color:@c_artsetartistes;
		}
	}
	.paysages{
		&:hover, &.active{
			color:@c_paysages;
			border-color:@c_paysages;
		}
	}
}


/************************* Sidebar *******************************/

.sidebar{
	.block{
		margin-bottom:20px;
		.header-block{
			background-color: @c_accent;
			color:#FFF;
			padding:15px;
			
			h3{
				display: inline-block;
				margin:0;
				padding:0 0 0 10px;
				float:left;
				font-size: 25px;
				width: 90%;
			}
			i{
				display: block;
				font-size: 30px;
				float: left;
				width: 10%;
			}
		}
		.content-block{
			background-color: @c_light;
			padding:15px;
		}
	}
}

/************************* HEADER PAGE *******************************/

.header-page{
	position: relative;
	height: 340px;
	.container{
		position: relative;
		height: 340px;
	}
	.btn-retour{
		background-color: fade(#000, 60%);
		padding: 5px 15px;
		font-family: @font-family-big;
		color:#FFF;
		position: absolute;
		bottom:0;
		font-size: 20px;

		&:hover{
			background-color:fade(#000, 100%);
		}
	}
}

/******************** Liste Taxo attraits ************************/

.list-type{
	padding:60px 0 30px 0;
	text-align: center;
	ul{
		margin:0;
		padding:0;
		li{
			display: inline-block;
			margin:0;
			padding:0;
			a{
				display: block;
				padding:10px 0;
				margin:0 20px;
				text-transform: uppercase;
				color:@c_default;
				font-size: 16px;
				border-bottom:5px solid #FFF;

				&:hover{
					border-bottom:5px solid @c_default;
				}
			}
		}
	}
}

/******************** SQUARE DISPLAY ****************************/

.square-display{
	min-height: 460px;
}

.square-container {
	overflow: hidden;
	margin-bottom:20px;
	.row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.col-md-4{
		padding:0 5px;
	}
}

.square-display{
	position:relative;
	margin-bottom:10px;
	display: block;

	.full-click{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;
		top:0;
		left:0;
	}

	.learn_more{
		color:#FFF;
		z-index: 5;
	}

	&:before{
		opacity: 0;
		content: "";
		display: block;
		background-color: fade(#000, 25%);
		z-index: 1;
		position: absolute;
		top:0;left:0;
		height: 100%;width: 100%;
		.transition();
	}

	&:hover{
		&:before{
			opacity: 1;
		}
		
	}
	.square-content{
		background-color: fade(#000, 60%);
		position: absolute;
		z-index: 10;
		bottom:0;
		left: 0;
		width: 100%;
		display: block;
		padding:20px;

		h4{
			font-weight: 300;
			font-size: 28px;
			text-transform: uppercase;
			color:#FFF;
			font-family: @font-family;
			margin:0;
		}

		.square-text{
			width: 80%;
		}		

		.btn-map{
			padding:10px 25px;
			position: absolute;
			right: 0;
			bottom:0;
			z-index: 10;
			img{
				width: 30px;
				height: auto;
			}
		}
	}
}


/************************************************/
/******************** HEADER ********************/
/************************************************/

.logged-in #header{
	margin-top: 32px;
}

header.sticky{
	z-index: 100;
	background-color:#FFF;
	padding:20px 0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	position: fixed;
	top:0;
	width: 100%;
	box-sizing: border-box;
	nav{
		text-align: right;
		margin-top: 20px;
		ul{
			li{
				display: inline-block;
				font-family: @font-family-cond;
				text-transform: uppercase;
				font-weight: normal;
				font-size: 17px;
				position: relative;
				a{
					color:@c_default;
					&:hover, &:focus{
				    	color:@c_accent;
				    	background:none;
				    }
				}

				&.mobile-header{
					display: none;
				}

				&#search_box{
					position: relative;
					&:hover{
						background:none;
						color:@c_default;

					}
					a{
						border:none;
					}
					.search_wrapper{
						z-index: 20;
						position: absolute;
						top:100%;
						right: 0;
						padding:20px;
						background-color: @c_light;
						width: 240px;
						display: none;

						input{
							border:0;
							padding:5px;
							width:160px;
						}
						button{
							background-color: @c_default;
							color:#FFF;
							border:none;
							padding:5px 10px;
						}
						
						
					}

					#search_slider{
						background-color: @c_default;
						color:#FFF;
						border:0;
						font-size: 20px;
						padding:5px 10px;
						border-radius: 50%;

						&:hover{
							background-color: @c_light;
						}
					}
					
					&.on{
						background-color: @c_light;
						#search_slider{
							background-color:@c_light;
						}
						.search_wrapper{
							display: block;
						}
					}
				}

				&.current-page-ancestor, &.current-menu-item{
					a{
						color:@c_accent;
					}
					ul{
						li{
							a{
							    color:@c_default;
							}
							&.current-menu-item{
								a{
									color:@c_light;
								}
							}
						}
					}
				}
				ul{
					position: absolute;
					margin:0;
					padding:0;
					right:0;
					top:100%;
					min-width: 220px;
					li{
						width: 100%;
						padding:0;
						a{
							display: block;
							width: 100%;
							text-align: left;
							font-weight: normal;
							text-transform: none;
						    font-size: 15px;
						    padding: 9.5px 20px;
						    color:@c_default;
						    &:hover{
						    	color:@c_accent;
						    	background:none;
						    }
						}
					}
				}
			}
		}
	}
}

/************************************************/
/********************* HOME  ********************/
/************************************************/

.credits{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-style: italic;
	color:fade(#FFF, 50%);
}

.title-home{
	margin-top: 60px;
	.title-lines{
		h1{
			margin-bottom: 0;
			max-width: 850px;
		}	
	}
}

.container-carrousel{
	position: relative;
	.slide{
		min-height:600px;
		.container{
			min-height: 600px;
			position: relative;
		}
		.carrousel-content{
			width: 60%;
			position: absolute;
			bottom:45px;
			left: 0;
			padding:20px;
			background-color: fade(#000, 60%);
			color:#FFF;
			font-size: 18px;
			h2{
				font-size: 45px;
				margin-top:0;
			}
			.btn{
				font-size: 16px;
				padding:10px 15px;
				background-color: @c_accent;
				color:#FFF;

				&:hover{
					background-color: darken(@c_accent, 10%)
				}
			}
		}

	}
	.bx-controls{
		width: 100%;
		position: absolute;
		bottom:20px;
		text-align: center;
		.bx-pager{
			width: 100%;
			.bx-pager-item{
				display: inline-block;
				margin:0 5px;
				a{
					display: block;
					width: 50px;
					height: 5px;
					background-color: #FFF;
					text-indent: -9000px;
					font-size: 0px;
					&.active{
						background-color:@c_accent;
					}
				}
			}
		}
	}
}
.container-btn{
	text-align: center;
}

/************************************************/
/********************* MAP ********************/
/************************************************/

.sidebar{
	#map{
		height: 350px;
		margin-bottom:20px;
	}
}


body #map{
	height: 600px;
	
	.gm-style-iw{
		max-width: 150px;	
		div{
			width: 130px;
			div{
				width:auto;
			}
		}
		p{
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom:0;
			margin-top:10px;
			line-height: 14px;
		}
		a{
			color:@c_default;
			text-decoration: underline;
		}
		
	}

}
.type_attrait_container.list-type{
	padding-top: 0;
}

/************************************************/
/********************* FICHE ********************/
/************************************************/

.page_title{
	margin:0 0 20px 0;
}

.taxo-name{
	font-family: @font-family-big;
	text-transform: uppercase;
	margin:0 0 20px 0;
}

.galerie{
	margin-top: 30px;
	.row{
		margin-left: -10px;
		margin-right: -10px;
	}

	.grid-item{
		width: 50%;
		padding:0 10px;
	}
}
.photo-gallery{
	margin-bottom:20px;
	display: block;
	cursor: pointer;
}

#attraits_connexes{
	margin-top:60px;
}
.title-lines{
	text-align: center;
	h2, h1{
		position: relative;
		font-size: 50px;
		padding:0 60px;
		margin:0 0 30px 0;
		display: inline-block;
		span{
			position: relative;
			background-color: #FFF;
			padding:0 25px;
			display: inline-block;
			z-index: 10;
		}
		&:after{
			content: " ";
			display: block;
			width: 100%;
			height:5px;
			background-color: #c7c7c7;
			position: absolute;
			top:45%;
			left:0;
			z-index: 0;
		}
	}
}


/************************************************/
/****************** Attraits ********************/
/************************************************/
.content-desc{
	font-size: 17px;
}

/************************************************/
/***************** Recherche ********************/
/************************************************/
.search{
	.entry-content{
		input{
			padding:10px;
			min-width: 200px;
		}
		button{
			padding:12px 10px;
			background-color:@c_default;
			border:none;
			min-width: 50px;
			color:#FFF;
			&:hover{
				background-color:@c_accent;
				border-color:@c_accent;
			}
		}
	}

	.search-item{
		border-bottom:1px solid @c_light;
		padding-bottom:20px;
	}
}


/************************************************/
/******************** FOOTER ********************/
/************************************************/

.newsletter{
	.btn{
		&:hover{
			background-color:@c_accent;
		}
	}
}

.res-soc{
	a{
		display: inline-block;
		margin:10px 10px 0 0;
		background-color:#c7c7c7;
		color:@c_default;
		border-radius: 50%;
		font-size: 25px;
		text-align: center;
		width: 35px;
		height: 35px;
		&:hover{
			background-color: #FFF;
		}
	}
}



.footer-columns{
	p{
		text-transform: uppercase;
		color:#FFF;
		a{
			color:#FFF;
		}
	}

	.nav-footer{
		p{
			color:#909090;
			a{
				color:#909090;	
			}
		}
	}

	.btn{
		width: 100%;
	}
	ul{
		margin:0;
		padding:0;
		li{
			list-style: none;
			a{
				color:#FFF;
				&:hover{
					color:@c_accent;
				}
			}
		}
	}
}
.footer-columns{
	padding:30px 0;
}
.logo{
	text-align: right;
}


.map-link{
	margin-top: 60px;
	background: url(../img/template/bg_carte.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	.btn{
		margin:80px 0;
		color:#FFF;
		background-color: @c_accent;
		border:none;
		&:hover{
			background-color: darken(@c_accent, 10%)
		}
	}
}

footer.footer{
	background: url(../img/template/bg_footer.png) top center no-repeat @c_default;
}




#copyrights_container{
	padding:20px 0;
	color:#8b8b8b;
	#credit_mxo{
		text-align: right;
	}
	a{
		color:#FFF;

		&:hover{
			color:@c_accent;
		}
	}
}