/***********************************************/
/************  LIBS N' DEPENDENCIES ************/
/***********************************************/
/* voir http://css3please.com/ pour une liste complète */
/**** COLORS ****/
/***************/
/**** FONT FAMILY *****/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nogutter,
.nogutter [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
/***********************************************/
/***********  FIX - RESET & BOILERS  ***********/
/***********************************************/
:-moz-any-link:focus {
  outline: none;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
  border: 0;
}
body {
  /* fix pour font trop bold sur mac (requis firefox25 pour le moz-osx-font-smoothing) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 112px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #404040;
  font-size: 14px;
}
/* bootstrap + ie7, les images sont petites */
/*.ie7 #content img{ max-width: none !important; } */
/*************************************************/
/******************** GENERAL ********************/
/*************************************************/
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
h1,
h2,
h3 {
  font-family: 'Sansita One', cursive;
}
h1 {
  font-size: 46px;
}
h3 {
  font-size: 26px;
}
.learn_more {
  font-family: 'Sansita One', cursive;
  font-size: 20px;
  color: #404040;
}
.learn_more:after {
  content: ">";
  margin-left: 5px;
}
.learn_more:hover {
  color: #009b7b;
}
.btn,
input[type="submit"],
input[type="button"] {
  display: inline-block;
  border: 1px solid #404040;
  background-color: #FFF;
  font-size: 30px;
  font-family: 'Sansita One', cursive;
  padding: 15px;
  border-radius: 0;
  color: #404040;
  text-align: center;
}
.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #404040;
  color: #FFF;
}
.gform_fields input[type="button"] {
  font-size: 16px;
}
li.gfield.gfield_error,
li.gfield.gfield_error.gfield_contains_require {
  background-color: rgba(230, 91, 91, 0.3) !important;
}
.tbl {
  display: table;
}
.tbl-rw {
  display: table-row;
}
.tbl-cl {
  display: table-cell;
}
section {
  position: relative;
  display: block;
}
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: #009b7b;
  -webkit-transition: all 180ms ease-out;
  -moz-transition: all 180ms ease-out;
  -o-transition: all 180ms ease-out;
  transition: all 180ms ease-out;
  color: inherit;
}
select {
  padding: 5px!important;
  border: 1px solid #404040;
  background: none;
}
input,
textarea {
  border: 1px solid #404040;
}
.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.container-full {
  width: 100%;
  max-width: 2560px;
  margin: auto;
}
.container-full .row {
  margin-left: 0;
  margin-right: 0;
}
img.full-width {
  width: 100%;
}
.print_only {
  display: none !important;
}
#content {
  padding: 60px 0 0 0;
}
.pagination {
  width: 100%;
}
.pagination ul {
  margin: 0 auto;
  padding: 0;
  font-family: 'Sansita One', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.pagination ul li {
  list-style: none;
  display: inline-block;
}
.pagination ul li a,
.pagination ul li span {
  padding: 5px 10px;
  display: block;
  color: #404040;
}
.pagination ul li a.current,
.pagination ul li span.current {
  padding: 5px 10px;
  background-color: #009b7b;
  color: #FFF;
}
/********************** ATTRAITS COLORS **************************/
#content.patrimoine-bati .header-block {
  background-color: #0dbce8;
}
#content.patrimoine-bati .taxo-name {
  color: #0dbce8;
}
#content.patrimoine-immateriel .header-block {
  background-color: #ffcc00;
}
#content.patrimoine-immateriel .taxo-name {
  color: #ffcc00;
}
#content.patrimoine-naturel .header-block {
  background-color: #b3d132;
}
#content.patrimoine-naturel .taxo-name {
  color: #b3d132;
}
#content.arts-et-artistes .header-block {
  background-color: #e65b5b;
}
#content.arts-et-artistes .taxo-name {
  color: #e65b5b;
}
#content.paysages .header-block {
  background-color: #a94fc0;
}
#content.paysages .taxo-name {
  color: #a94fc0;
}
.square-display.patrimoine-bati .learn_more:hover,
.square-display.patrimoine-bati .learn_more:active,
.square-display.patrimoine-bati .learn_more:focus {
  color: #0dbce8;
}
.square-display.patrimoine-bati .btn-map {
  background-color: #0dbce8;
}
.square-display.patrimoine-bati .btn-map:hover {
  background-color: #0a95b8;
}
.square-display.patrimoine-immateriel .learn_more:hover,
.square-display.patrimoine-immateriel .learn_more:active,
.square-display.patrimoine-immateriel .learn_more:focus {
  color: #ffcc00;
}
.square-display.patrimoine-immateriel .btn-map {
  background-color: #ffcc00;
}
.square-display.patrimoine-immateriel .btn-map:hover {
  background-color: #cca300;
}
.square-display.patrimoine-naturel .learn_more:hover,
.square-display.patrimoine-naturel .learn_more:active,
.square-display.patrimoine-naturel .learn_more:focus {
  color: #b3d132;
}
.square-display.patrimoine-naturel .btn-map {
  background-color: #b3d132;
}
.square-display.patrimoine-naturel .btn-map:hover {
  background-color: #91aa26;
}
.square-display.arts-et-artistes .learn_more:hover,
.square-display.arts-et-artistes .learn_more:active,
.square-display.arts-et-artistes .learn_more:focus {
  color: #e65b5b;
}
.square-display.arts-et-artistes .btn-map {
  background-color: #e65b5b;
}
.square-display.arts-et-artistes .btn-map:hover {
  background-color: #df2f2f;
}
.square-display.paysages .learn_more:hover,
.square-display.paysages .learn_more:active,
.square-display.paysages .learn_more:focus {
  color: #a94fc0;
}
.square-display.paysages .btn-map {
  background-color: #a94fc0;
}
.square-display.paysages .btn-map:hover {
  background-color: #8d3aa2;
}
.list-type .active {
  color: #404040;
  border-color: #404040;
}
.list-type .patrimoine-bati:hover,
.list-type .patrimoine-bati.active {
  color: #0dbce8;
  border-color: #0dbce8;
}
.list-type .patrimoine-immateriel:hover,
.list-type .patrimoine-immateriel.active {
  color: #ffcc00;
  border-color: #ffcc00;
}
.list-type .patrimoine-naturel:hover,
.list-type .patrimoine-naturel.active {
  color: #b3d132;
  border-color: #b3d132;
}
.list-type .arts-et-artistes:hover,
.list-type .arts-et-artistes.active {
  color: #e65b5b;
  border-color: #e65b5b;
}
.list-type .paysages:hover,
.list-type .paysages.active {
  color: #a94fc0;
  border-color: #a94fc0;
}
/************************* Sidebar *******************************/
.sidebar .block {
  margin-bottom: 20px;
}
.sidebar .block .header-block {
  background-color: #009b7b;
  color: #FFF;
  padding: 15px;
}
.sidebar .block .header-block h3 {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 10px;
  float: left;
  font-size: 25px;
  width: 90%;
}
.sidebar .block .header-block i {
  display: block;
  font-size: 30px;
  float: left;
  width: 10%;
}
.sidebar .block .content-block {
  background-color: #eeeeee;
  padding: 15px;
}
/************************* HEADER PAGE *******************************/
.header-page {
  position: relative;
  height: 340px;
}
.header-page .container {
  position: relative;
  height: 340px;
}
.header-page .btn-retour {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 15px;
  font-family: 'Sansita One', cursive;
  color: #FFF;
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
.header-page .btn-retour:hover {
  background-color: #000000;
}
/******************** Liste Taxo attraits ************************/
.list-type {
  padding: 60px 0 30px 0;
  text-align: center;
}
.list-type ul {
  margin: 0;
  padding: 0;
}
.list-type ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.list-type ul li a {
  display: block;
  padding: 10px 0;
  margin: 0 20px;
  text-transform: uppercase;
  color: #404040;
  font-size: 16px;
  border-bottom: 5px solid #FFF;
}
.list-type ul li a:hover {
  border-bottom: 5px solid #404040;
}
/******************** SQUARE DISPLAY ****************************/
.square-display {
  min-height: 460px;
}
.square-container {
  overflow: hidden;
  margin-bottom: 20px;
}
.square-container .row {
  margin-left: -5px;
  margin-right: -5px;
}
.square-container .col-md-4 {
  padding: 0 5px;
}
.square-display {
  position: relative;
  margin-bottom: 10px;
  display: block;
}
.square-display .full-click {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.square-display .learn_more {
  color: #FFF;
  z-index: 5;
}
.square-display:before {
  opacity: 0;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 180ms ease-out;
  -moz-transition: all 180ms ease-out;
  -o-transition: all 180ms ease-out;
  transition: all 180ms ease-out;
}
.square-display:hover:before {
  opacity: 1;
}
.square-display .square-content {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 20px;
}
.square-display .square-content h4 {
  font-weight: 300;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}
.square-display .square-content .square-text {
  width: 80%;
}
.square-display .square-content .btn-map {
  padding: 10px 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.square-display .square-content .btn-map img {
  width: 30px;
  height: auto;
}
/************************************************/
/******************** HEADER ********************/
/************************************************/
.logged-in #header {
  margin-top: 32px;
}
header.sticky {
  z-index: 100;
  background-color: #FFF;
  padding: 20px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
header.sticky nav {
  text-align: right;
  margin-top: 20px;
}
header.sticky nav ul li {
  display: inline-block;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  position: relative;
}
header.sticky nav ul li a {
  color: #404040;
}
header.sticky nav ul li a:hover,
header.sticky nav ul li a:focus {
  color: #009b7b;
  background: none;
}
header.sticky nav ul li.mobile-header {
  display: none;
}
header.sticky nav ul li#search_box {
  position: relative;
}
header.sticky nav ul li#search_box:hover {
  background: none;
  color: #404040;
}
header.sticky nav ul li#search_box a {
  border: none;
}
header.sticky nav ul li#search_box .search_wrapper {
  z-index: 20;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 20px;
  background-color: #eeeeee;
  width: 240px;
  display: none;
}
header.sticky nav ul li#search_box .search_wrapper input {
  border: 0;
  padding: 5px;
  width: 160px;
}
header.sticky nav ul li#search_box .search_wrapper button {
  background-color: #404040;
  color: #FFF;
  border: none;
  padding: 5px 10px;
}
header.sticky nav ul li#search_box #search_slider {
  background-color: #404040;
  color: #FFF;
  border: 0;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
}
header.sticky nav ul li#search_box #search_slider:hover {
  background-color: #eeeeee;
}
header.sticky nav ul li#search_box.on {
  background-color: #eeeeee;
}
header.sticky nav ul li#search_box.on #search_slider {
  background-color: #eeeeee;
}
header.sticky nav ul li#search_box.on .search_wrapper {
  display: block;
}
header.sticky nav ul li.current-page-ancestor a,
header.sticky nav ul li.current-menu-item a {
  color: #009b7b;
}
header.sticky nav ul li.current-page-ancestor ul li a,
header.sticky nav ul li.current-menu-item ul li a {
  color: #404040;
}
header.sticky nav ul li.current-page-ancestor ul li.current-menu-item a,
header.sticky nav ul li.current-menu-item ul li.current-menu-item a {
  color: #eeeeee;
}
header.sticky nav ul li ul {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  top: 100%;
  min-width: 220px;
}
header.sticky nav ul li ul li {
  width: 100%;
  padding: 0;
}
header.sticky nav ul li ul li a {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  padding: 9.5px 20px;
  color: #404040;
}
header.sticky nav ul li ul li a:hover {
  color: #009b7b;
  background: none;
}
/************************************************/
/********************* HOME  ********************/
/************************************************/
.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}
.title-home {
  margin-top: 60px;
}
.title-home .title-lines h1 {
  margin-bottom: 0;
  max-width: 850px;
}
.container-carrousel {
  position: relative;
}
.container-carrousel .slide {
  min-height: 600px;
}
.container-carrousel .slide .container {
  min-height: 600px;
  position: relative;
}
.container-carrousel .slide .carrousel-content {
  width: 60%;
  position: absolute;
  bottom: 45px;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  font-size: 18px;
}
.container-carrousel .slide .carrousel-content h2 {
  font-size: 45px;
  margin-top: 0;
}
.container-carrousel .slide .carrousel-content .btn {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #009b7b;
  color: #FFF;
}
.container-carrousel .slide .carrousel-content .btn:hover {
  background-color: #006853;
}
.container-carrousel .bx-controls {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.container-carrousel .bx-controls .bx-pager {
  width: 100%;
}
.container-carrousel .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
  margin: 0 5px;
}
.container-carrousel .bx-controls .bx-pager .bx-pager-item a {
  display: block;
  width: 50px;
  height: 5px;
  background-color: #FFF;
  text-indent: -9000px;
  font-size: 0px;
}
.container-carrousel .bx-controls .bx-pager .bx-pager-item a.active {
  background-color: #009b7b;
}
.container-btn {
  text-align: center;
}
/************************************************/
/********************* MAP ********************/
/************************************************/
.sidebar #map {
  height: 350px;
  margin-bottom: 20px;
}
body #map {
  height: 600px;
}
body #map .gm-style-iw {
  max-width: 150px;
}
body #map .gm-style-iw div {
  width: 130px;
}
body #map .gm-style-iw div div {
  width: auto;
}
body #map .gm-style-iw p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 14px;
}
body #map .gm-style-iw a {
  color: #404040;
  text-decoration: underline;
}
.type_attrait_container.list-type {
  padding-top: 0;
}
/************************************************/
/********************* FICHE ********************/
/************************************************/
.page_title {
  margin: 0 0 20px 0;
}
.taxo-name {
  font-family: 'Sansita One', cursive;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.galerie {
  margin-top: 30px;
}
.galerie .row {
  margin-left: -10px;
  margin-right: -10px;
}
.galerie .grid-item {
  width: 50%;
  padding: 0 10px;
}
.photo-gallery {
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
}
#attraits_connexes {
  margin-top: 60px;
}
.title-lines {
  text-align: center;
}
.title-lines h2,
.title-lines h1 {
  position: relative;
  font-size: 50px;
  padding: 0 60px;
  margin: 0 0 30px 0;
  display: inline-block;
}
.title-lines h2 span,
.title-lines h1 span {
  position: relative;
  background-color: #FFF;
  padding: 0 25px;
  display: inline-block;
  z-index: 10;
}
.title-lines h2:after,
.title-lines h1:after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #c7c7c7;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 0;
}
/************************************************/
/****************** Attraits ********************/
/************************************************/
.content-desc {
  font-size: 17px;
}
/************************************************/
/***************** Recherche ********************/
/************************************************/
.search .entry-content input {
  padding: 10px;
  min-width: 200px;
}
.search .entry-content button {
  padding: 12px 10px;
  background-color: #404040;
  border: none;
  min-width: 50px;
  color: #FFF;
}
.search .entry-content button:hover {
  background-color: #009b7b;
  border-color: #009b7b;
}
.search .search-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
/************************************************/
/******************** FOOTER ********************/
/************************************************/
.newsletter .btn:hover {
  background-color: #009b7b;
}
.res-soc a {
  display: inline-block;
  margin: 10px 10px 0 0;
  background-color: #c7c7c7;
  color: #404040;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  width: 35px;
  height: 35px;
}
.res-soc a:hover {
  background-color: #FFF;
}
.footer-columns p {
  text-transform: uppercase;
  color: #FFF;
}
.footer-columns p a {
  color: #FFF;
}
.footer-columns .nav-footer p {
  color: #909090;
}
.footer-columns .nav-footer p a {
  color: #909090;
}
.footer-columns .btn {
  width: 100%;
}
.footer-columns ul {
  margin: 0;
  padding: 0;
}
.footer-columns ul li {
  list-style: none;
}
.footer-columns ul li a {
  color: #FFF;
}
.footer-columns ul li a:hover {
  color: #009b7b;
}
.footer-columns {
  padding: 30px 0;
}
.logo {
  text-align: right;
}
.map-link {
  margin-top: 60px;
  background: url(../img/template/bg_carte.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
}
.map-link .btn {
  margin: 80px 0;
  color: #FFF;
  background-color: #009b7b;
  border: none;
}
.map-link .btn:hover {
  background-color: #006853;
}
footer.footer {
  background: url(../img/template/bg_footer.png) top center no-repeat #404040;
}
#copyrights_container {
  padding: 20px 0;
  color: #8b8b8b;
}
#copyrights_container #credit_mxo {
  text-align: right;
}
#copyrights_container a {
  color: #FFF;
}
#copyrights_container a:hover {
  color: #009b7b;
}
